.side-bar-container {
    width: 200px;
}

.circle {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#cir-1 {
    background-color: blueviolet;
}
#cir-2 {
    background-color: blue;
}
#cir-3 {
    background-color: orangered;
}
#cir-4 {
    background-color: green;
}

.image-container {
    width: 200px;
    height: 200px;
    background-image: url('/src/assets/images/image.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}