.task {
  width: 300px;
  height: auto;
  min-height: 40px;
  border: none;
  box-shadow: 2px 2px 7px gray;
  /* background-color: rgba(236, 245, 109, 0.815); */
  border-left: 10px solid rgb(240, 190, 53);
  border-right: 3px solid rgb(240, 190, 53);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .bg-incomlete {
  background-color: rgba(236, 245, 109, 0.815);
}

.bg-done {
  background-color: rgba(189, 197, 73, 0.815);
} */

.swal2-cancel {
  margin-right: 5px !important;
}

.swal2-confirm {
  margin-left: 5px !important;
}

/* .title-box {
  width: 310px;
} */

.tag-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.75;
}

.blueviolet {
  background-color: blueviolet;
}

.blue {
  background-color: blue;
}

.orangered {
  background-color: orangered;
}

.green {
  background-color: green;
}

.tag-dots-container {
  display: flex;
  gap: 2px;
  margin-top: 5px;
}

.bi {
  font-size: 0.8rem;
}

.bi:hover {
    cursor: pointer;
}

.bi-pencil-square:hover {
    color: rgb(3, 3, 126);
}

.bi-trash3:hover {
    color: rgb(116, 3, 3);
}

#title {
  position: relative;
  left: 40px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(85, 85, 10);  
}

#description {
  position: relative;
  font-size: 0.8rem;
  color: rgb(85, 85, 10);
  margin-left: 40px;
}

.chk-box {
  position: absolute;
  margin-top: 17px;
  margin-left: 5px;
}

.chk-box:hover {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .task {
    width: calc(100vw - 20px);
    min-height: 30px;
    box-shadow: 1px 1px 5px gray;
    border-radius: 15px;
    padding: 5px;
    margin: 3px;
    border-left: 10px solid rgb(240, 190, 53);
    border-right: 5px solid rgb(240, 190, 53);
    flex-direction: row;
  }

  .tag-dots-container {
    margin-top: 0;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    gap: 2px;
  }

  .icons-dots-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 2px;
  }

  .icons-container {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 10px;
  }

  /* .title-box {
    width: calc(100vw - 40px);
  } */
}

@media screen and (min-width: 421px) and (max-width: 720px) {
  .task {
    width: calc((100vw - 20px)/2);
  }
}