.task {
  width: 500px;
  height: 200px;
  border: none;
  box-shadow: 3px 3px 20px gray;
  border-radius: 20px;
  background-color: rgba(232, 240, 122, 0.89);
  padding: 10px;
  margin: 15px;
}

.tag-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.blueviolet {
  background-color: blueviolet;
}

.blue {
  background-color: blue;
}

.orangered {
  background-color: orangered;
}

.green {
  background-color: green;
}

.tag-dots-container {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.bi:hover {
    cursor: pointer;
}

.bi-pencil-square:hover {
    color: blue;
}

.bi-trash3:hover {
    color: red;
}