.task {
  width: 330px;
  height: auto;
  min-height: 90px;
  border: none;
  box-shadow: 2px 2px 10px gray;
  border-radius: 20px;
  background-color: rgba(236, 245, 109, 0.815);
  padding: 10px;
  margin: 5px;
}

.tag-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.blueviolet {
  background-color: blueviolet;
}

.blue {
  background-color: blue;
}

.orangered {
  background-color: orangered;
}

.green {
  background-color: green;
}

.tag-dots-container {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.bi:hover {
    cursor: pointer;
}

.bi-pencil-square:hover {
    color: rgb(3, 3, 126);
}

.bi-trash3:hover {
    color: rgb(116, 3, 3);
}

h5 {
  color: rgb(85, 85, 10);  
}

p {
  color: rgb(85, 85, 10);  
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .task {
    width: 450px;
    height: auto;
    min-height: 90px;
    border: none;
    box-shadow: 2px 2px 10px gray;
    border-radius: 20px;
    background-color: rgba(236, 245, 109, 0.815);
    padding: 10px;
    margin: 5px;
  }
}