.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 50%;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #txt-area {
    height: 150px;
  }

  .circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#cir-1 {
    background-color: blueviolet;
}
#cir-2 {
    background-color: blue;
}
#cir-3 {
    background-color: orangered;
}
#cir-4 {
    background-color: green;
}

.tag:hover {
  cursor: pointer;
  background-color: rgb(219, 241, 91);
}

.tag {
  border-radius: 15px;
}

.active {
  background-color: rgba(188, 190, 13, 0.651);
}

.tags-container-add {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}

.btn-save {
  margin-top: 5px;
}
  
@media screen and (min-width: 320px) and (max-width: 720px) {
  .modal-content {
    height: auto;
  }
}