.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(236, 245, 109, 0.89);
  color: black;
  text-align: center;
  z-index: 1000;
  padding: 10px;
}

.sidebar-container {
  position: fixed;
  top: 100px;
  left: 0;
  width: 200px;
  padding: 10px;
  z-index: 1000;
}

.task-container {
  position: absolute;
  width: calc(100vw - 200px);
  height: 100%;
  left: 200px;
  overflow-x: hidden;
  margin-top: 100px;
  z-index: 1;
  background-image: url('/src/assets/images/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .sidebar-container {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
  }

  .task-container {
    position: absolute;
    width: 100%;
    left: 0;
    overflow-x: hidden;
    margin-top: 200px;
    z-index: 1;
  }
}